@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
    --colorDarkMode: black;
    --colorBoxShadow: rgba(0, 0, 0, 0.2);
    --colorBackgroundPlus: white;
}

* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: transparent;
    transition: all 200ms;
}

header {
    transition: background-color 200ms, box-shadow 200ms;
}

footer {
    transition: background-color 200ms, box-shadow 200ms;
}

.main {
    padding: 0 5vw;
}

.p-fixed {
    position: fixed;
    margin: 0;
    top: 0;
}
